<!DOCTYPE html>
<html>
<head>
    <title>User Home</title>
</head>
<body>
    <h2>Welcome {{ session.user }}</h2>
    <a href="/logout">Logout</a>
    <h3>Available Packages</h3>
    <ul>
        <h2>Packages</h2>
{% for p in packages %}
  <p>{{p[1]}} - ₹{{p[2]}} <a href="/select/{{p[0]}}">Select</a></p>
{% endfor %}
<a href="/logout">Logout</a>
        {% for pkg in packages %}
        <li>
            {{ pkg.package_name }} - ${{ pkg.price }}
            <a href="/select/{{ pkg.package_id }}">Select</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>